.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Fonts */

@font-face {
  font-family: poppins;
  src: url("/public/fonts/poppins/Poppins-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: poppins;
  src: url("/public/fonts/poppins/Poppins-SemiBold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: poppins;
  src: url("/public/fonts/poppins/Poppins-Bold.ttf");
  font-weight: 900;
}

body {
  background-color: black !important;
}

/* header styles */

/* Filter Page Styles */

.filter-input::placeholder {
  color: white !important;
  padding: 10px;
}

.css-1e4sw3a-MuiButtonBase-root-MuiToggleButton-root.Mui-selected {
  background-color: #53acff !important;
  color: white !important;
}

/* SideBar Page Styles */

.sideList2,
.sideList3,
.sideList4 {
  color: gray !important;
}
